In [31]:
import pandas as pd
import string
import re

In [32]:
df = pd.read_csv("dictionary.csv");

In [33]:
df.head()

        word type                                         definition
0        Aam   n.  A Dutch and German measure of liquids, varying...
1  Aard-vark   n.  An edentate mammal, of the genus Orycteropus, ...
2  Aard-wolf   n.  A carnivorous quadruped (Proteles Lalandii), o...
3    Aaronic   a.                                  Alt. of Aaronical
4  Aaronical   a.  Pertaining to Aaron, the first high priest of ...

In [34]:
n = len(df) # number of words
del df['type'] # we don't need it

In [35]:
# lowercase characters
df['word'] = df['word'].str.lower()
df['definition'] = df['definition'].str.lower()

# take away special characters, except '-' for composed names and whitespaces
df['definition'].replace('[^-a-zA-Z\d\s:]','',regex=True, inplace=True)

In [38]:
df.head()

        word                                         definition
0        aam  a dutch and german measure of liquids varying ...
1  aard-vark  an edentate mammal of the genus orycteropus so...
2  aard-wolf  a carnivorous quadruped proteles lalandii of s...
3    aaronic                                   alt of aaronical
4  aaronical  pertaining to aaron the first high priest of t...

In [46]:
dictionnary = dict()
for index, row in df.iterrows():
    dictionnary[row['word']] = [0, row['definition'].split()] # first value will serve for later ( kernel or not ? ), second is definition

In [47]:
non_existants = set()
count_kernel = 0
for key,value in dictionnary.items():
    for word in value[1]:
        if word in dictionnary:
            if(value[0]==0):
                count_kernel+=1
            value[0] = 1
        else:
            non_existants.add(word)

In [52]:
print('Nombre de mots du kernel', str(count_kernel), ' sur ', str(n))

Nombre de mots du kernel 24084  sur  54544